<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390380950613-o05elkpc173dml5a84r6cpjk8niobtpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390380950613-o05elkpc173dml5a84r6cpjk8niobtpc</string>
	<key>API_KEY</key>
	<string>AIzaSyDqU_yiH9nHE-Q164WWdYt4Vo-guwJzBNU</string>
	<key>GCM_SENDER_ID</key>
	<string>390380950613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JRApps.Hot-Take</string>
	<key>PROJECT_ID</key>
	<string>hot-take-2d418</string>
	<key>STORAGE_BUCKET</key>
	<string>hot-take-2d418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:390380950613:ios:e13b8628a5e611026e70dc</string>
</dict>
</plist>
